<div class="edit col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="edit-navigation col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="edit-collapse" id="1">Edit <%= resource_name.to_s.humanize %></h2>
        <h2 class="edit-collapse" id="2">Q&A Section</h2>
        <h2 class="edit-collapse" id="3">Password Change</h2>
    </div>

    <div class="edit-container col-xs-12 col-sm-12 col-md-8 col-lg-8">           
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="edit-container-profile col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <div class="edit-container-profile-collapse edit-collapse-hidden" id="collapse-1">
                    <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, class: "form-control login-form", placeholder: "Email" %>
                    </div>

                    <div class="field">
                        <%= f.label "Company Name" %><br />
                        <%= f.text_field :name, autofocus: true, class: "form-control login-form", placeholder: "Name" %>
                    </div>

                    <div class="field">
                        <%= f.label "Company Description" %><br />
                        <%= f.text_area :description, autofocus: true, class: "form-control login-form show-company-textarea", placeholder: "Description" %>
                    </div>

                    <div class="field">
                        <%= f.label :website %><br />
                        <%= f.text_field :website, autofocus: true, class: "form-control login-form", placeholder: "Website" %>
                    </div>

                    <div class="field">
                        <%= f.label :facebook %><br />
                        <%= f.text_field :facebook, autofocus: true, class: "form-control login-form", placeholder: "Facebook" %>
                    </div>

                    <div class="field">
                        <%= f.label :logo %><br />
                        <%= f.file_field :logo, autofocus: true, class: "form-control login-form", placeholder: "Upload Image" %>
                    </div>
                </div>
            </div>

            <div class="edit-container-qa col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <div class="edit-container-qa-collapse edit-collapse-hidden" id="collapse-2">
                    <div class="field">
                      <%= f.label "Question" %><br />
                      <%= f.text_field :question_one, autofocus: true, class: "form-control login-form", placeholder: "Frequently Asked Question" %>
                    </div>

                    <div class="field">
                      <%= f.label "Answer" %><br />
                      <%= f.text_area :answer_one, autofocus: true, class: "form-control login-form show-company-textarea", placeholder: "Answer" %>
                    </div>

                    <div class="field">
                      <%= f.label "Question" %><br />
                      <%= f.text_field :question_two, autofocus: true, class: "form-control login-form", placeholder: "Frequently Asked Question" %>
                    </div>

                    <div class="field">
                      <%= f.label "Answer" %><br />
                      <%= f.text_area :answer_two, autofocus: true, class: "form-control login-form show-company-textarea", placeholder: "Answer" %>
                    </div>

                    <div class="field">
                      <%= f.label "Question" %><br />
                      <%= f.text_field :question_three, autofocus: true, class: "form-control login-form", placeholder: "Frequently Asked Question" %>
                    </div>

                    <div class="field">
                      <%= f.label "Answer" %><br />
                      <%= f.text_area :answer_three, autofocus: true, class: "form-control login-form show-company-textarea", placeholder: "Answer" %>
                    </div>

                    <div class="field">
                      <%= f.label "Question" %><br />
                      <%= f.text_field :question_four, autofocus: true, class: "form-control login-form", placeholder: "Frequently Asked Question" %>
                    </div>

                    <div class="field">
                      <%= f.label "Answer" %><br />
                      <%= f.text_area :answer_four, autofocus: true, class: "form-control login-form show-company-textarea", placeholder: "Answer" %>
                    </div>

                    <div class="field">
                      <%= f.label "Question" %><br />
                      <%= f.text_field :question_five, autofocus: true, class: "form-control login-form", placeholder: "Frequently Asked Question" %>
                    </div>

                    <div class="field">
                      <%= f.label "Answer" %><br />
                      <%= f.text_area :answer_five, autofocus: true, class: "form-control login-form show-company-textarea", placeholder: "Answer" %>
                    </div>
                </div>
            </div>

            <div class="edit-container-password col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <div class="edit-container-password-collapse edit-collapse-hidden" id="collapse-3">
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                    <div class="field">
                      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                      <%= f.password_field :password, autocomplete: "off", class: "form-control login-form" %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control login-form" %>
                    </div>
                </div>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: :"btn btn-warning" %>
            </div>
        <% end %>

        <br>
        <h3>Cancel My Account</h3>

        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: :"btn btn-danger" %>
    </div>
</div>
