<div class="home-hero col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-hero-content">
		<h1>Go Explore. Go Abroad.</h1>
		<h4>"Life begins at the end of your comfort zone."</h4>
		<%= button_to 'Find Jobs Abroad', jobs_path, class: :"btn btn-warning", method: :get %>
	</div>
</div>

<div class="home-checklist">
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3><i class="fa fa-check-circle-o"></i> Awesome Perks</h3>
		<p>Many jobs offer free housing, free airfare, medical insurance, and of course, paid vacation days! Take advantage of great perks.
		</p>
	</div>
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3><i class="fa fa-check-circle-o"></i>  New Experiences</h3>
		<p>It's a great big world out there. Discover new cultures, explore new sights, taste new foods. Travel and travel some more!</p>
	</div>
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3><i class="fa fa-check-circle-o"></i> Travel Around</h3>
		<p>Take the weekends off to travel to nearby cities or countries with your new friends. Start filling up your passport!</p>
	</div>
</div>

<div class="home-newsletter col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-newsletter-content form-inline">
		<h4>Get a weekly email of the best new jobs abroad</h4>
		<%= text_field :title, nil, :placeholder => "First Name", class: :"text-field-newsletter form-control" %>
		<%= email_field :title, nil, :placeholder => "Email Address", class: :"text-field-newsletter form-control" %>
		<%= button_to 'Keep Me Updated', nil, :placeholder => "Submit", class: :"btn btn-default form-control form-inline" %>
	</div>
</div>

<div class="home-countries">
	<div class="home-countries-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="home-countries-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Oh, the places you'll go!</h1>
		</div>
		<div class="home-countries-images">
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-korea">KOREA</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-china">CHINA</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-vietnam">VIETNAM</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-mexico">MEXICO</div>
				<% end %>
			</div>			
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-czech">CZECH REPUBLIC</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-taiwan">TAIWAN</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="home-testimonials">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<div class="carousel-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  	<h3>REAL PEOPLE, REAL EXPERIENCES</h3>
		  	<div class="carousel-inner col-xs-12 col-sm-12 col-md-6 col-lg-6" role="listbox">
		    	<div class="item active">
			      	<!-- <div class="carousel-content col-xs-12 col-sm-12 col-md-6 col-lg-6"> -->
			      		<p>"I think the most important characteristics to have if you want to find a way to work overseas is to be extremely adaptable and always trust your gut." -Tiffany V.</p>
			      	<!-- </div> -->
		    	</div>
			    <div class="item">
			      	<!-- <div class="carousel-content col-xs-12 col-sm-12 col-md-6 col-lg-6"> -->
			        	<p>"Deciding to work in Korea was one of the most terrifying decisions I’ve made, but the most valuable decision I’ve made.  Engaging a world of new cultures and unknown experiences with an open mind and a heart to learn taught me more about myself than I could have at the comforts of home, allowed me to expand my worldview, and caused me to make valuable and lifelong friendships." -Justin C.</p>
			      	<!-- </div> -->
			    </div>
			    <div class="item">
			      	<!-- <div class="carousel-content col-xs-12 col-sm-12 col-md-6 col-lg-6"> -->
			        	<p>"Teaching abroad was a challenging yet extremely rewarding experience. I learned to survive and thrive in an unfamiliar environment, managed a classroom full of students of various ages and backgrounds, and created special relationships that will last a lifetime. I'm a much better person now for it!" -Billy N.</p>
			      	<!-- </div> -->
			    </div>
			    <div class="item">
			      	<!-- <div class="carousel-content col-xs-12 col-sm-12 col-md-6 col-lg-6"> -->
			        	<p>"Traveling abroad changes you in so many positive ways. It's a sad fact that people who have never traveled will never understand what I mean." -Sam S.</p>
			      	<!-- </div> -->
			    </div>
		  		<div class="carousel-indicators-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
			  		<ol class="carousel-indicators">
			    		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				    	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			  		</ol>
		  		</div>
	  		</div>
  		</div>
	</div>
</div>

<div class="home-action">

</div>

</div>

