<div class="home-hero col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-hero-content">
		<h1>Go Explore. Go Abroad.</h1>
		<h4>"Life begins at the end of your comfort zone."</h4>
		<%= button_to 'Find Jobs Abroad', jobs_path, class: :"btn btn-warning", method: :get %>
		<h4><i class="fa fa-chevron-circle-down"></i></h4>
	</div>
</div>

<div class="home-checklist">
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3><i class="fa fa-check-circle-o"></i> Awesome Perks</h3>
		<p>Many jobs offer free housing, free airfare, medical insurance, and of course, paid vacation days! Take advantage of great perks.
		</p>
	</div>
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3><i class="fa fa-check-circle-o"></i>  New Experiences</h3>
		<p>It's a great big world out there. Discover new cultures, explore new sights, taste new foods. Travel and travel some more!</p>
	</div>
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3><i class="fa fa-check-circle-o"></i> Travel Around</h3>
		<p>Take the weekends off to travel to nearby cities or countries with your new friends. Start filling up your passport!</p>
	</div>
</div>

<div class="home-newsletter col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-newsletter-content form-inline">
		<h4>Stay updated with our newsletters of the best new jobs abroad</h4>
		<%= form_for Newsletter.new do |f| %>
			<%= f.text_field :name, class: :"text-field-newsletter form-control", placeholder: "First Name" %>
			<%= f.email_field :email, class: :"text-field-newsletter form-control", placeholder: "Email" %>
			<%= f.submit 'Keep Me Updated', class: :"btn btn-success form-control btn-newsletter" %>
		<% end %>
	</div>
</div>

<div class="home-countries">
	<div class="home-countries-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="home-countries-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Oh, the places you'll go!</h1>
		</div>
		<div class="home-countries-images">
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-korea">KOREA</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-china">CHINA</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-vietnam">VIETNAM</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-mexico">MEXICO</div>
				<% end %>
			</div>			
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-czech">CZECH REPUBLIC</div>
				<% end %>
			</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<%= link_to jobs_path do %>
				<div class="home-img" id="home-img-taiwan">TAIWAN</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="home-testimonials">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<div class="carousel-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  	<h3>REAL PEOPLE, REAL EXPERIENCES</h3>
		  	<div class="carousel-inner col-xs-12 col-sm-12 col-md-6 col-lg-6" role="listbox">
		    	<div class="item active">
			      	<p class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">"I think the most important characteristics to have if you want to find a way to work overseas is to be extremely adaptable and always trust your gut." -Tiffany V.</p>
		    	</div>
			    <div class="item">
			        <p class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">"Deciding to work in Korea was one of the most terrifying but also the most valuable decision I’ve made. I learned more about myself, expanded my worldview, and made valuable and lifelong friendships." -Justin C.</p>
			    </div>
			    <div class="item">
		        	<p class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">"Teaching abroad was a challenging yet extremely rewarding experience. I learned to survive and thrive in an unfamiliar environment, managed a classroom full of students of various ages and backgrounds, and created special relationships that will last a lifetime. I'm a much better person now for it!" -Billy N.</p>
			    </div>
			    <div class="item">
		        	<p class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">"Traveling abroad changes you in so many positive ways. It's a sad fact that people who have never traveled will never understand what I mean." -Sam S.</p>
			    </div>
		  		<div class="carousel-indicators-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
			  		<ol class="carousel-indicators">
			    		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				    	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			  		</ol>
		  		</div>
	  		</div>
  		</div>
	</div>
</div>

<div class="home-action">
	<div class="home-action-content col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<h1>Are you a recruiter?</h1>
		<p>We help recruiters find the best candidates from all over the world. Post a job that you want thousands of qualified candidates in our network to see. Register and have your post up internationally in less than a few minutes.</p>
		<%= button_to 'Post A Job', new_job_path, class: :"btn btn-danger", method: :get %>
	</div>
</div>

</div>

