
<div class="jobs-hero col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="jobs-hero-content">
		<h1>POST A JOB</h1>
	</div>
</div>

<div class="login col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
	<div class="login-container col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<div class="login-header col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<h4>Post a job. Reach amazing candidates through our vast network. A standard job post will be available for 30 days to all our global users.</h4>
		</div>
		<%= form_for @job, html: {id:"payment-form"} do |f| %>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<%= f.label :title, "Job Title", class: "control-label" %>
			    <%= f.text_field :title, class: "form-control login-form", maxlength: 150  %>
			</div>
			  
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			    <%= f.label :description, "Job Description", class: "control-label" %>
			    <%= f.text_area :description, class: "form-control login-form job-post-textarea", maxlength: 850 %>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			    <%= f.label :city_id, "City", class: "control-label" %>
			    <%= f.text_field :city_id, :size => 40, class: "form-control login-form", maxlength: 50 %>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			    <%= f.label :country_id, "Country", class: "control-label" %>
			    <%= f.country_select(:country_id, {prompt: "Select a Country"}, {class: "form-control login-form"}, label: false) %>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			    <%= f.label :qualifications, "Qualifications", class: "control-label" %>
			    <%= f.text_area :qualifications, class: "form-control login-form job-post-textarea", maxlength: 850 %>
			</div>

	  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	  			<%= f.label :salary, "Salary", class: "control-label" %>
	  		</div>
   			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   				<%= f.text_field :salary_low, class: "form-control login-form", maxlength: 30, placeholder: "Salaray Low (ex:  2.1 million KRW)" %>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   				<%= f.text_field :salary_high, class: "form-control login-form", maxlength: 30, placeholder: "Salary High (ex:  2.3 million KRW)" %>
   			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<%= f.label :benefits_description, "Benefits", class: "control-label" %>
		 		<%= f.text_area :benefits_description, class: "form-control login-form job-post-textarea", maxlength: 850   %>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= check_box :job, :benefits_airfare %>
				<%= f.label :benefits_airfare, "Subsidized Airfare" %>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= check_box :job, :benefits_housing %>
				<%= f.label :benefits_housing, "Subsidized Housing" %>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= check_box :job, :benefits_medical%>
		 		<%= f.label :benefits_medical, "Medical Insurance" %>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		 		<%= check_box :job, :benefits_pto %>
		 		<%= f.label :benefits_pto, "Paid Vacation Days" %>
			</div>
		  
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		 		<%= check_box :job, :benefits_sick %>
				<%= f.label :benefits_sick, "Paid Sick Days" %>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		 		<%= f.label :additional_info, "Additional Information", class: "control-label" %>
		 		<%= f.text_area :additional_info, class: "form-control login-form job-post-textarea", maxlength: 850 %>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			 	<%= f.label :how_to, "How To Apply", class: "control-label" %>
			 	<%= f.text_area :how_to, class: "form-control login-form job-post-textarea", maxlength: 850 %>
			</div>	


		<!-- STRIPE PAYMENT -->
			
		<!-- <div class="jobs-payment-info col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="jobs-post-radio">
				<input type="radio" name=nil checked="checked">  Standard 30-day job post - $16 USD New Year's Special!<br>
				<input type="radio" name=nil>  Standard 30-day job post - $100 USD
			</div> -->
			<!--<%= form_tag create_job_path, :method => 'POST', id:"payment-form" do %> -->
		 	<!-- <form action="" method="POST" id="payment-form"> -->
			<!-- <span class="payment-errors"></span>

			<div class="form-row">
		    	<label>
		    		<span>Card Number</span>
		    		<input type="text" size="20" data-stripe="number" class="form-control" placeholder="1234 1234 1234 1234" maxlength="20"/>
		    	</label>
			
			    <label>
			    	<span>CVC</span>
			    	<input type="text" size="4" data-stripe="cvc" class="form-control" placeholder="123"  maxlength="3"/>
			    </label>
			</div>

			<div class="form-row form-inline">
			    <label>
			    	<span>Expiration (MM/YYYY)</span>
			    	<br>
			      	<input type="text" size="2" data-stripe="exp-month" class="form-control" placeholder="01" maxlength="2"/>
			    	<span> / </span>
			    	<input type="text" size="4" data-stripe="exp-year" class="form-control" placeholder="2016" maxlength="4"/>
			    </label>
			</div> -->

			<!-- </form> -->
			<!-- <% end %> -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<button type="submit" class="btn btn-warning" id="btn-job-post">Post Job</button>
			</div>
			<% end %>
		</div>

<!-- 		<div class="jobs-payment-info jobs-payment-info-imgs col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="jobs-payment-img" id="jobs-secure"></div>
	 		<i class="fa fa-cc-visa"></i>
		  	<i class="fa fa-cc-mastercard"></i>
		  	<i class="fa fa-cc-amex"></i>
		  	<i class="fa fa-cc-jcb"></i>
		  	<i class="fa fa-cc-diners-club"></i>
		  	<i class="fa fa-cc-discover"></i>
		</div> -->
		
	</div>
</div>